__base__:
    - ../default_runtime.yaml
    - ../datasets/DualCervix/DualCervix_color.yaml
    - ../models/VxmDense/VxmDense_deeplabv3.yaml

trainer:
    logger:
        init_args:
            name: VxmDense_deeplabv3_color
    # debug
    limit_train_batches: 1.0
    limit_val_batches: 1.0
    limit_test_batches: 1.0
    limit_predict_batches: 1.0
    fast_dev_run: false
    overfit_batches: 0.0
    # train
    max_epochs: null
    min_epochs: null
    max_steps: -1
    min_steps: null
    max_time: null
    # gradient clip
    gradient_clip_val: null
    gradient_clip_algorithm: null

model:
    init_args:
        loss_config:
            seg:
                weight: 0.0
data:
    init_args:
        data_loader_config:
            batch_size: 16
            num_workers: 8
            prefetch_factor: 2
