model:
    class_path: models.models.cycle_gan_model.CycleGANModel
    init_args:
        netG_A: &import_G_config
            class_path: models.layers.GAN_networks.ResnetGenerator
            init_args:
                input_nc: 3
                output_nc: 3
                ngf: 64
                use_dropout: false
                n_blocks: 9
                norm_layer: torch.nn.InstanceNorm2d
        netG_B: *import_G_config
        netD_A: &import_D_config
            class_path: models.layers.GAN_networks.NLayerDiscriminator
            init_args:
                input_nc: 3
                ndf: 64
                n_layers: 3
                norm_layer: torch.nn.InstanceNorm2d
        netD_B: *import_D_config
        pool_size: 50
        lambda_A: 0.5
        lambda_B: 0.5
        lambda_idt: 0.5
        norm_cfg:
            acid:
                mean: [ 107.5614013671875, 108.2771987915039, 157.57847595214844 ]
                std: [ 15.73247241973877, 13.8170747756958, 24.39257049560547 ]
            iodine:
                mean: [ 43.90464401245117, 71.49726867675781, 123.6583023071289 ]
                std: [ 14.21172046661377, 18.04821014404297, 34.25565719604492 ]
        loss_config:
            gan:
                module:
                    class_path: models.losses.losses.GANLoss
                    init_args:
                        gan_mode: lsgan
                weight: 1.0
            cycle:
                module:
                    class_path: torch.nn.L1Loss
                weight: 1.0
            idt:
                module:
                    class_path: torch.nn.L1Loss
                weight: 1.0
        optimizer_config:
            optimizer:
                type: Adam
                lr: 1.0e-3
                weight_decay: 0.01
            lr_scheduler:
                scheduler:
                    type: ReduceLROnPlateau
                    mode: min
                    factor: 0.1
                    patience: 5
                    cooldown: 2
                monitor: train/loss
                warmup_config:
                    warmup_iters: 500